meta charset="utf-8"

title 政府與人民為敵

meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
meta name="format-detection" content="telephone=no"

meta content="政府與人民為敵" property="og:title"
meta content="政府與人民為敵" property="og:site_name"
meta content="..." property="og:description"

meta content="http://evenwu.github.io/dictatorship/images/fb.jpg" property="og:image"

link href="stylesheets/screen.css" rel="stylesheet" type="text/css"

